#overview-container {
  .col {
    padding: 5px;
    .noDataCoverDiv {
      background-color: rgba(0, 0, 0, 0.81);
      height: 480px;
      position: absolute;
      top: 15px;
      z-index: 6;
      text-align: center;
      .noDataWords {
        color: white;
        padding-top: 170px;
        font-size: 70px;
      }
    }
  }
}