#overview-container {
  .col {
    padding: 5px;
    .noDataCoverDiv {
      background-color: rgba(0, 0, 0, 0.81);
      height: 480px;
      position: absolute;
      top: 15px;
      z-index: 6;
      text-align: center;
      .noDataWords {
        color: white;
        padding-top: 170px;
        font-size: 70px;
      }
    }
  }
  .smallCard {
    .informationCardDiv {
      border-radius: 4px;
      padding: 15px 15px 30px;
      height: 15vh;
      .informationWords {
        right: 15px;
        position: absolute;
        color: rgba(255, 255, 255, 0.84);
      }
      .informationTitleName {
        right: 15px;
        bottom: 20px;
        position: absolute;
        color: rgba(255, 255, 255, 0.84);
      }
    }
    .ant-card-body {
      padding: 0px;
      text-align: center;
    }
    #informationCol1 {
      background-color: lavender;
    }
    #informationCol2 {
      background-color: rgba(95, 158, 160, 0.63);
    }
    #informationCol3 {
      background-color: rgba(189, 183, 107, 0.8);
    }
    #informationCol4 {
      background-color: rgba(70, 130, 180, 0.64);
    }
    .overviewIcon {
      font-size: 100px;
      padding-top: 5px;
      position: absolute;
      color: #efefef;
      margin-left: -23px;
      padding-top: 28px;
    }
  }
}