@import "./common-variable.less";

#overview-container {
  .col {
    padding: 5px;
    .noDataCoverDiv {
      background-color: rgba(0, 0, 0, 0.81);
      height: 480px;
      position: absolute;
      top: 15px;
      z-index: 6;
      text-align: center;
      .noDataWords {
        color: white;
        padding-top: 170px;
        font-size: 70px;
      }
    }
    .ant-table-thead {
      font-size: 15px;
    }
    .ant-table-tbody {
      font-size: @font-size-overviewTable;
    }
  }
  .smallCard {
    .informationCardDiv {
      border-radius: 4px;
      padding: 15px 15px 30px;
      height: 15vh;
      .informationWords {
        right: 15px;
        position: absolute;
        color: rgba(255, 255, 255, 0.84);
      }
      .informationTitleName {
        right: 15px;
        bottom: 20px;
        position: absolute;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.84);
      }
    }
    .ant-card-body {
      padding: 0px;
      text-align: center;
    }
    .overviewIcon {
      font-size: 100px;
      padding-top: 5px;
      position: absolute;
      color: #efefef;
      margin-left: -23px;
      padding-top: 28px;
    }
  }
}